/* body {
  background-image: url(aaaa.webp);
  background-size: cover;
} */

#maintitle {
  color: red;
  font-size: 21px;
}

.mainbox {
  border-color: blue;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

.form-control {
  border-radius: 20px;
}
.btn {
  background-color: blue;
  border-radius: 20px;
}

.list-group li {
  display: block; /* Make the <li> element a block-level element */
  border: 1px solid red;
  padding: 6px;
  margin: 2px 0;
  width: 95%; /* Adjust the width as needed */
}

.list-group {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;  */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.list-group-item {
  position: relative; /* 삭제 버튼을 상대 위치로 설정합니다. */
  padding-right: 40px; /* 삭제 버튼이 border 내부에 위치할 공간을 마련합니다. */
}

.delete-button {
  top: 50%; /* 부모 요소의 중앙에 위치시킵니다. */

  margin-left: 250px; /* border와의 간격을 조정합니다. */
}
